<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/905d13f394.js" crossorigin="anonymous"></script>

  <!-- <script src="../../app.js" defer></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>

<div uk-sticky>
  <nav class="navbar navbar-default">
    <div class="container" style="position: sticky;">
      <!-- <div class="navbar-header">
        
      </div> -->
      <div style="display: flex ; justify-content: space-between;">
      <div class="daily-blogs" style="display: flex ; flex-direction: column; justify-content: center;">
        <a style="text-decoration: none; color:initial;" href="/public/<%=username%>">
      <p style="font-size:x-large;" > Daily Blogs
        <span style="margin-left: -10px; margin-top:-30px; background-color: rgba(255, 19, 19, 0.768); font-weight:normal; font-size: 12px; line-height: 9px; letter-spacing: 2px;" class="position-absolute badge">
          <%=count%>
        </span>
      </p>   
    </a>
      </div>

    <div class="left-align" style="display: flex !important; justify-content: space-evenly;">
    <div class="compose-btn" style="display: flex ; flex-direction: column; justify-content: center; margin-right: 50px;">
      <a href="/compose/<%=username%>">  <button style="padding: 2px 10px;" class="uk-button uk-button-primary"><span uk-icon="icon: pencil; ratio: 1.5"></span> Compose
        </button></a> 
    </div>
    

      <div class="dropdown"  style=" display: flex ; flex-direction: column; justify-content: center;" >
        <div class="uk-inline spin-on-hover">
          <div style="text-align: center;">
            <img src="https://avatars.dicebear.com/api/adventurer/your-fsafsffcustom-seed.svg" width="50" height="50" >
            <div></div>
            <span style="margin:0; letter-spacing: 1px;">Profile</span><span class="spin-arrow" uk-icon="icon: triangle-right; ratio: 1.5"></span>
          </div>
         
          <div  uk-dropdown="duration:100; delay-hide:100;" style="padding: 0px;">
            <ul class="nav navbar-nav ">
              <li id="home"><a href="/home/<%=username%>"><span uk-icon="icon: home; ratio: 1.5"></span>&nbsp;HOME </a></li>
              <li id="home"><a href="/user/public/<%=username%>/<%=username%>"><span uk-icon="icon: users; ratio: 1.5"></span>&nbsp;PUBLIC </a></li>
              <!-- <li id="public"><a href="/public/<%=username%>">ABOUT US</a></li> -->
              <li id="contact"><a href="#"><span uk-icon="icon: bell; ratio: 1.5"></span>&nbsp;NOTIFY</a></li>
              <li id="contact"><a href="#"><span uk-icon="icon: history; ratio: 1.5"></span>&nbsp;ACTIVITIES</a></li>
              <li > <a  href="/trash/<%=username%>"><span uk-icon="icon: trash; ratio: 1.5"></span>&nbsp;TRASH </a></li> 
              <li style="border-top:1px solid rgba(104, 104, 104, 0.874);" > <a  href="/"><span uk-icon="icon: sign-out; ratio: 1.5"></span>&nbsp;LOG OUT
                </a></li>
            </ul>
          </div>
      </div>
      </div>
    </div>

    </div>


        
        
    </div>
  </nav>
</div>
  <body>
    <div class="container">
