
<%- include("partials/header", {count:count, username:username}); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group compose-edit-form">
        <label>Title</label>
        <input required class="form-control" placeholder="Title of your blog" type="text" name="postTitle">
        <label>Tags</label>
          <input required list="browsers" class="form-control" placeholder="blog tag" type="text" name="postTag" value="none" />
          <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
          </datalist>

        <label>Post</label>
        <textarea required class="form-control" name="postBody" rows="13" cols="30" placeholder="minimum 100 words"></textarea>
      </div>
      <input type="text" hidden name="username" value="<%=username%>">
      <div style="display: flex; justify-content: space-evenly; margin-top: 60px; margin-bottom: 20px;">
      <input type="text" hidden name="private" value="private">
      <button uk-tooltip="Store as Private Blog" class="uk-button uk-button-primary" type="submit" name="button">Store &nbsp; <span uk-icon="icon: cloud-upload; ratio: 1.3"></span></button>

      <input type="text" hidden name="public" value="public">
      <button uk-tooltip="Upload as a Public Blog " class="uk-button uk-button-secondary"  formaction="/public/<%=username%>" type="submit" name="button">Upload &nbsp;<span uk-icon="icon: cloud-upload; ratio: 1.3"></span> <span uk-icon="icon: plus; ratio: 1"></span> <span uk-icon="icon: forward; ratio: 1.3"></span></button>

      <a style="padding:0 10px;" uk-tooltip="back to home" class="uk-button uk-button-primary" href="/home/<%=username%>"><span class="uk-margin-small-right" uk-icon="icon: arrow-left; ratio: 1.5"></span>Back</a>
    </div>
    </form>

<%- include("partials/footer"); -%>
