<%- include("partials/header", {count:count, username:username}); -%>
<span style="font-size:15px;" class="uk-badge"><%=prPb%>-Blog</span>
    <h1 style="margin-top:0 ;">Edit</h1>
    <form class="" action="/editBlog/<%=username%>" method="post">
      <div class="form-group compose-edit-form">
        
        <label>Title</label>
        <input class="form-control" type="text" value="<%=title%>" name="postTitleUp">
        <label>Tags</label>
        <input class="form-control" placeholder="blog tag" type="text" value="<%=tag%>" name="postTagUp">
        <label>Post</label>
        <textarea class="form-control" name="postBodyUp" rows="10" cols="30" placeholder="minimum 100 character"><%=body%></textarea>
      </div>
      <button style="padding:0 10px; margin: 10px;" class="uk-button uk-button-primary" value="<%=editPostId%>" type="submit" name="buttonUp">Update &nbsp; <span uk-icon="icon: check; ratio: 1.5"></span></button>

      <!-- <button formaction="/editBlog/<%=username%>/public" class="btn btn-primary" value="<%=editPostId%>" type="submit" name="buttonUp">Update Share</button> -->

    </form>

<%- include("partials/footer"); -%>
