
<%- include("partials/header", {count:count}); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>
<div class="compose-btn" style="text-align: center; padding: 10px;">
  <!-- <p style="display: block;opacity: 1; margin-top: -5px;">Publish a new Blog</p> -->
    <a href="/compose"><button type="button" class="btn btn-primary btn-lg">
      Compose
    </button>
</a>

</div>
<div style="text-align: center; margin-bottom: -25px;">
  <p class="typewriter">Click on the Card to Read More</p>
</div>


<form action="/" method="post" style="display: flex; flex-wrap: wrap;  margin-top: 20px;">

  <%  posts.forEach(function(post, index){ %>
<a class="my-card" href="/posts/<%=post._id%>">
    <div class="card main-card" style="width: 180px !important; margin: 20px; "> 
      <img src="../public/images/blog.png" width="60px" style="border-radius:100% ;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2><%=post.title.substring(0, 10)%></h2>
        <h5><%=post.body.substring(0, 100) + " ..."%> 
          <!-- <p><%=index%></p> -->
      </h5>
      <!-- <p><%=post.date%></p>
      <p><%=post.time%></p> -->
    
     <span><%=post.date%> <br><%=post.time%></span> <span class="trashBin" style="margin-left: 10px;"><button type="submit" name="trashBtn" value="<%=post._id%>"><i class="fa-solid fa-recycle"></i></button></span>
     
      </div>
      </div>
    </a>
    <!-- <h1><%=post.title%></h1> -->
    <!-- <p> -->
    <!-- <%=post.body.substring(0, 100) + " ..."%> -->
    <!-- <a href="/posts/<%=post._id%>">Read More</a> <span class="trashBin" style="margin-left: 10px;"><button type="submit" name="trashBtn" value="<%=post._id%>"><i class="fa-solid fa-trash-can"></i></button></span> -->
    <!-- <input type="hidden" name="trash" value="<%=post._id%>"> -->
    <!-- </p> -->
    <% }) %>
  </form>
  
  <!-- <form action="/contact" method="post">
  <div style="margin: 10px;">
    <button style="font-size: large;" type="submit" onclick="(()=>{console.log('first')})" class="btn load-more" name="loadMore" value="10">Load More</button>
  </div>
</form> -->



<%- include("partials/footer"); -%>
