
<%- include("partials/header", {count:count, username:username}); -%>
<div class="uk-background-muted uk-padding uk-panel">
  
  <div style="display:flex ; justify-content: space-between;">
  
  <div style="display: flex ;">
    <span uk-tooltip="Your Personal as well Private Blogs will be appear here" style="color: #1abc9c; margin: auto 0;" uk-icon="icon: home; ratio: 3"></span>
    <div uk-tooltip="Your Personal as well Private Blogs will appear here" style="margin: auto 40px;">
      <h4 style="margin: 0;">Hey there !</h4>
    <h2 style="margin: 0;"><%=username.slice(0,username.length-4).substring(0,20)%></h2>
    </div>
  </div>

  <div class="avatar">
    <img src="<%=avatar%>" width="100" height="100" ><br>

    <a href="#modal-overflow" uk-toggle>Choose Avatar</a>
    

<div id="modal-overflow" uk-modal>
    <div style="width: 80%;" class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close>Close</button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Avatars</h2>
        </div>

        <div style="display:flex; flex-wrap: wrap;" class="uk-modal-body" uk-overflow-auto>

          
        <%  for (let i=0; i<= 1500; i = i+2){ %>
         
       
          <a href="/avatar/https://avatars.dicebear.com/api/avataaars/<%=i%>.svg/<%=username%>">
            <img style="width:51px ; margin: 10px; border: 1px solid black;" src="https://avatars.dicebear.com/api/avataaars/<%=i%>.svg" width="50" height="50" >
          </a>
          <br> 
      <%    } %>
   
        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
          
        </div>

    </div>
</div>

  </div>

</div>

<hr>
<%if (posts.length === 0){%>
  <div style="text-align: center;">
    <h3>Your Blog folder is Empty !!!</h3>
    <a href="/compose/<%=username%>">Compose a new Blog</a>
  </div>
 
  <%} %>

<form action="/home/<%=username%>" method="post" style="display: flex; flex-wrap: wrap;  margin-top: 20px;">

  <%  posts.forEach(function(post, index){ %>
<div class="uk-animation-toggle " style=" margin:20px auto;" tabindex="0">
      <div class="uk-animation-scale-grow">
    <div class="uk-card uk-card-default uk-width-1-2@m" style="width:240px;">
      <div class="uk-card-header" style="padding: 2px 15px;">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
              </div>
              <div class="uk-width-expand" >
                  <h3 class="uk-card-title uk-margin-remove-bottom"><%=post.title.substring(0, 15)%></h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%=post.date%> &nbsp;  |&nbsp;  <%=post.time%></time></p>
                  <span class="uk-label uk-label-danger"><%=post.tag.substring(0, 10)%></span>
                  <span style="font-size:14px; float: right;" class="uk-badge"><%=post.prPb%></span>
              </div>
          </div>
      </div>
      <div class="uk-card-body" style="height:150px !important; padding: 20px;">
        <%  if (post.body.length >= 130){ %>
          <p><%=post.body.substring(0, 130) + " ..."%> </p>
      <%  }else{ %>
        <p><%=post.body%> </p>
    <%    } %>
        
      </div>
      <div class="uk-card-footer">
        <!-- <span class="trashBin"><button style="padding:0; padding: 0 auto;" type="submit" name="trashBtn" value="<%=post._id%>"> 
        </button></span> -->
        <a href="/posts/<%=post._id%>/<%=username%>" class="uk-button uk-button-text">Read more</a>
        <button class="trashBin" style="background: none;  
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;" type="submit" name="trashBtn" value="<%=post._id%>" 
        ><span  class="uk-icon-button" uk-tooltip="Move to Trash" uk-icon="trash"></span> </button>
          
      </div>
  </div>
</div>
</div>

    <% }) %>
  </form>
  

</div>

<%- include("partials/footer"); -%>
