
<%- include("partials/header", {count:count, username:username}); -%>
<div class="uk-background-muted uk-padding uk-panel">

   <% subscription.forEach((subscribe)=>{ %>
    <div style="display:flex ; justify-content: space-between;" class="uk-alert-danger subscribeBy" uk-alert>
        <div>

        
        <h4 ><%=subscribe.subscribedBy %> &nbsp; : &nbsp; Subscribed To Your Blogs </h4>
        <p >On: <%=subscribe.date%> | <%=subscribe.time%></p>
    </div>
    

        <a style="height: 40px;" formaction="" class="uk-button uk-button-default" href="/delete/sub/<%=subscribe.subscribedBy%>/<%=username%>">Delete</a>
    </div>
  <%  }) %>

   <% subRemoved.forEach((e)=>{ %>
    <div style="display:flex ; justify-content: space-between;" class="uk-alert-danger subscribeBy" uk-alert>
        <div>

        
        <h4 ><%=e.subRemoved%> &nbsp; : &nbsp; Removed Subscription from your Blogs </h4>
        <p >On: <%=e.date%> | <%=e.time%></p>
    </div>
    
        <a style="height: 40px;" class="uk-button uk-button-default" href="/delete/sub2/<%=e.subRemoved%>/<%=username%>">Delete</a>
    </div>
  <%  }) %>

  <% commentBy.forEach((comment)=>{ %>
  <div style="display:flex ; justify-content: space-between;" class="uk-alert-primary" uk-alert>
    <div>
    <h4><%=comment.commentBy%> &nbsp; : &nbsp; Commented on Your Blog <span style="border-bottom:1px dashed black ;"> <%=comment.commentBy.blogTitle%> </span></h4>
    <p>On: <%=comment.date%> | <%=comment.time%></p>
</div>
<a style="height: 40px;" class="uk-button uk-button-default" href="/delete/comments/<%=comment.commentBy%>/<%=comment.blogTitle%>/<%=username%>">Delete</a>

</div>
 <%  }) %>

 <% likeBy.forEach((like)=>{ %>
 <div style="display:flex ; justify-content: space-between;" class="uk-alert-success" uk-alert>
    <div>
    <h4><%=like.likedBy%> &nbsp; : &nbsp; like Your Blog <span style="border-bottom:1px dashed black ;"><%=like.likedBy.blogTitle%></span> </h4>
    <p>On:  <%=like.date%> | <%=like.time%></p>

</div>
<a style="height: 40px;" class="uk-button uk-button-default" href="/delete/likes/<%=like.likedBy%>/<%=username%>">Delete</a>

</div>
<%  }) %>

<% user.likedBy.forEach((like)=>{ %>
<div style="display:flex ; justify-content: space-between;" class="uk-alert-warning" uk-alert>
    <div>
    <h4>fsd &nbsp; : &nbsp; Just Compose A new Blog</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
</div>
<!-- <a style="height: 40px;" class="uk-button uk-button-default" href="/notification/notfy-del/<%=likeBy%>/<%=like.likedBy.likedBy%>/<%=username%>">Delete</a> -->
</div>
<%  }) %>

</div>
<%- include("partials/footer"); -%>
