
<%- include("partials/header", {count:count, username:username}); -%>
<div class="uk-background-muted uk-padding uk-panel">

   <% subscription.forEach((subscribe)=>{ %>
    <div style="display:flex ; justify-content: space-between;" class="uk-alert-danger subscribeBy" uk-alert>
        <div>

        
        <h4 ><%=subscribe.subscribedBy.substring(0,20) %> &nbsp; : &nbsp; Subscribed To Your Blogs </h4>
        <p >On: <%=subscribe.date%> | <%=subscribe.time%></p>
    </div>
    

        <a style="height: 40px;" formaction="" class="uk-button uk-button-default" href="/delete/sub/<%=subscribe.subscribedBy%>/<%=username%>">Delete</a>
    </div>
  <%  }) %>

   <% subRemoved.forEach((e)=>{ %>
    <div style="display:flex ; justify-content: space-between;" class="uk-alert-danger subscribeBy" uk-alert>
        <div>

        
        <h4 ><%=e.subRemoved.substring(0,20)%> &nbsp; : &nbsp; Removed Subscription from your Blogs </h4>
        <p >On: <%=e.date%> | <%=e.time%></p>
    </div>
    
        <a style="height: 40px;" class="uk-button uk-button-default" href="/delete/sub2/<%=e.subRemoved%>/<%=username%>">Delete</a>
    </div>
  <%  }) %>

  <% commentBy.forEach((comment)=>{ %>
    <a href="/public/<%=username%>/#<%=comment.blogId%>">
  <div style="display:flex ; justify-content: space-between;" class="uk-alert-primary" uk-alert>
    <div>
    <h4><%=comment.commentBy.substring(0,20)%> &nbsp; : &nbsp; Commented on Your Blog <span style="border-bottom:1px dashed black ;"> <%=comment.blogTitle.substring(0,25)%> </span></h4>
    <p>On: <%=comment.date%> | <%=comment.time%></p>
</div>
<a style="height: 40px;" class="uk-button uk-button-default" href="/delete/comments/<%=comment.commentBy%>/<%=comment.blogId%>/<%=username%>">Delete</a>
</a>
</div>
 <%  }) %>

 <% likeBy.forEach((like)=>{ %>
    <a href="/public/<%=username%>/#<%=like.blogId%>">
 <div style="display:flex ; justify-content: space-between;" class="uk-alert-success" uk-alert>
    <div>
    <h4><%=like.likedBy.substring(0,20)%> &nbsp; : &nbsp; like Your Blog  <span style="border-bottom:1px dashed black ;"><%=like.blogTitle.substring(0,25)%></span> </h4>
    <p>On:  <%=like.date%> | <%=like.time%></p>

</div>

<a style="height: 40px;" class="uk-button uk-button-default" href="/delete/likes/<%=like.blogId%>/<%=like.likedBy%>/<%=username%>">Delete</a>

</div>
</a>
<%  }) %>

<% notBlogBy.forEach((e)=>{ %>
    <a href="/public/<%=username%>/#<%=e.blogId%>">
 <div style="display:flex ; justify-content: space-between;" class="uk-alert-warning" uk-alert>
    <div>
    <h4><%=e.blogBy.substring(0,20)%> &nbsp; : &nbsp; Share a new Blog <span style="border-bottom:1px dashed black ;"><%=e.blogTitle.substring(0,25)%></span> </h4>
    <p>On:  <%=e.date%> | <%=e.time%></p>

</div>

<a style="height: 40px;" class="uk-button uk-button-default" href="/delete/blogUpdates/<%=e.blogId%>/<%=username%>">Delete</a>

</div>
</a>
<%  }) %>

</div>
<%- include("partials/footer"); -%>
