<%- include("partials/header", {count:count, username:username}); -%>

<div>
  <h3><%=username%></h3>
  <div style="text-align: center;">
    <h1 style="margin-bottom:5px; text-decoration: underline; text-shadow: 4px 4px 5px rgb(136, 136, 136); text-decoration-thickness: 2px; text-transform: capitalize; "><%=title%></h1>
    <span class="uk-label uk-label-danger"><%=tag%></span>
  </div>
  <p style="font-size:x-large;"><%=content%></p>
</div>
<div style="margin-top: 100px; padding-bottom: 20px;">
  <a  href="/editBlog/<%=id%>/<%=username%>"  uk-icon="icon: file-edit; ratio: 2" uk-tooltip="edit your blog" ><button 
    style="background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;"
    type="button" formaction="/editBlog/<%=id%>/<%=username%>" name="editBtn" value="<%=id%>"></button></a>

    <div style="float: right;">
    <a style="padding:0 10px;" class="uk-button uk-button-primary" href="/home/<%=username%>"><span class="uk-margin-small-right" uk-icon="icon: arrow-left; ratio: 1.5"></span>Back</a>
  </div>
  
</div>

<%- include("partials/footer"); -%>

