<%- include("partials/header", {count:count, username:username}); -%>

<div>
  
  <!-- <h3><%=username.slice(0, username.length-4).substring(0,15)%></h3> -->
  <hr class="uk-divider-icon">
  <div style="text-align: center;">
    <h1 style="margin-bottom:5px; text-decoration: underline; text-shadow: 4px 4px 5px rgb(136, 136, 136); text-decoration-thickness: 2px; text-transform: capitalize; "><%=title.substring(0,30)%></h1>
  <% if (tag.length <= 10){ %>
    <span class="uk-label uk-label-danger"><%=tag%></span>
  <% }else{ %>
    <span class="uk-label uk-label-danger"><%=tag.substring(0,25)%></span>
  <% } %>
  </div>
  <p style="font-size:x-large;"><%=content%></p>
</div>
<hr>
<div style="margin-top: 100px; padding-bottom: 20px; display: flex; justify-content: space-evenly;">
  <a  href="/editBlog/<%=id%>/<%=username%>"  uk-icon="icon: file-edit; ratio: 2" uk-tooltip="edit your blog" ><button 
    style="background: none;
        color: inherit;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit;"
    type="button" formaction="/editBlog/<%=id%>/<%=username%>" name="editBtn" value="<%=id%>"></button></a>

    <!-- <div style="float: right;"> -->
     <a href="/pr-to-pb/<%=id%>/<%=username%>"> <button style="padding:0 10px; display: <%=display%>;" uk-tooltip="share your private blog"  class="uk-button uk-button-secondary">Share<span uk-icon="icon: forward; ratio: 1.6"></span></button> </a>
     
    <a style="padding:0 10px;" uk-tooltip="Back to Home" class="uk-button uk-button-primary" href="/home/<%=username%>"><span class="uk-margin-small-right" uk-icon="icon: arrow-left; ratio: 1.5"></span>Back</a>
  <!-- </div> -->
  
</div>

<%- include("partials/footer"); -%>

