<%- include("partials/header", {count:count, username:username}); -%>
<%  posts.forEach(function(post, index){ %>

<div
  style="
    text-align: center !important;
    margin: 0 auto !important;
    display: flex;
    justify-content: space-around;
    padding-bottom: 14px;
  "
>


<article class="uk-comment uk-comment-primary public-posts" style="width: 80%; height: 310px; display: flex !important; justify-content: space-between; padding: 20px;">
  
  <div class="uk-comment-body" style="width:64% ;">
    <div style="text-align: left;">
      <h2 style="margin-bottom:5px; text-decoration: underline; text-shadow: 4px 4px 5px rgb(136, 136, 136); text-decoration-thickness: 2px; text-transform: capitalize; "><%=post.title%></h2>
      <div style="padding-left: 10px;">
        <span class="uk-label uk-label-danger"><%=post.tag%></span>
      </div>
     
    </div>
    <div style="text-align: left;">
    <p  style="text-align: left; padding-left: 10px; height: 150px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <button  style="padding: 0 10px" class="uk-button uk-button-default">Read More</button>
  </div>
</div>
&nbsp;  &nbsp; &nbsp; 
<hr class="uk-divider-vertical" style="height:250px ;">
  <div class="profile" style="width:36% ;">
      <div >
          <div class="uk-width-auto">
              <img class="uk-comment-avatar" src="https://avatars.dicebear.com/api/adventurer/your-custom-seed.svg" width="50" height="50" alt="">
          </div>
          <div >
              <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#"><%=username%></a></h4>
              <br>
              <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top" style="display:inline-block ;">
            
                <li><a> post : <%=post.date%></a></li>
            </ul>
          </div>
      </div>
</div>
  
</article>

</div>
<% }) %>
<div style="text-align: end; margin: 10px;"><a class="uk-button uk-button-primary" href="/public/<%=username%>" uk-scroll>Scroll Top</a>
</div>

<%- include("partials/footer"); -%>
