<%- include("partials/header", {count:count, username:username}); -%>

<div>
  <h3><%=owner%></h3>
  <div style="text-align: center;">
    <h1 style="margin-bottom:5px; text-decoration: underline; text-shadow: 4px 4px 5px rgb(136, 136, 136); text-decoration-thickness: 2px; text-transform: capitalize; "><%=title%></h1>
    <span class="uk-label uk-label-danger"><%=tag%></span>
  </div>
  <p style="font-size:x-large;"><%=content%></p>
  <div style="margin: 50px 0">
  <a style="padding:0 10px;" class="uk-button uk-button-primary" href="/public/<%=username%>"><span class="uk-margin-small-right" uk-icon="icon: arrow-left; ratio: 1.5"></span>Back</a>
</div>
</div>

<%- include("partials/footer"); -%>

