
<%- include("partials/header",  {count: count}) -%>
<h2>Your Deleted Blogs</h2>

<form action="/trash" method="post" style="display: flex; flex-wrap: wrap;  margin-top: 20px;">
<%  posts.forEach(function(post, index){ %>
<a class="my-card" href="/">
<div class="card main-card" style="width: 180px !important; margin: 20px; "> 
  <img src="../public/images/blog.png" width="60px" style="border-radius:100% ;" class="card-img-top" alt="...">
  <div class="card-body">
    <h2><%=post.title.substring(0, 10)%></h2>
    <h5><%=post.body.substring(0, 100) + " ..."%> 
  </h5>
  <!-- <p><%=index%></p> -->
  <span><%=post.date%>&nbsp;&nbsp; <%=post.time%></span>
  <button type="submit" formaction="/trash" class="btn btn-primary btn-sm" value="<%=post._id%>"  name="putBack" >Put Back</button> &nbsp;&nbsp;  <button type="submit" formaction="/permDelete" name="permDelete" value="<%=post._id%>" ><i class="fa-solid fa-trash-can trashBin"></i></button>
  <!-- <span class="trashBin" style="margin-left: 10px;"><button type="submit" name="trashBtn" value="<%=post._id%>"><i class="fa-solid fa-trash-can"></i></button></span> -->

  </div>
  </div>
</a>
    

<!-- <h1><%=post.title%></h1> -->
<!-- <p> -->
<!-- <%=post.body.substring(0, 100) + " ..."%> -->
<!-- <a href="/posts/<%=post._id%>">Read More</a> <span class="trashBin" style="margin-left: 10px;"><button type="submit" name="trashBtn" value="<%=post._id%>"><i class="fa-solid fa-trash-can"></i></button></span> -->
<!-- <input type="hidden" name="trash" value="<%=post._id%>"> -->
<!-- </p> -->

<% }) %>
</form>



<%- include("partials/footer"); -%>
