



<%- include("partials/header", {count:count, username:username}); -%>
<div class="uk-background-muted uk-padding uk-panel">
  
   <span style="color: rgb(252, 71, 71);" uk-icon="icon: trash; ratio: 3"></span>
    <h2><%=username%></h2>



<form action="/home/<%=username%>" method="post" style="display: flex; flex-wrap: wrap;  margin-top: 20px;">

  <%  posts.forEach(function(post, index){ %>
<!-- <a class="my-card" href="/posts/<%=post._id%>/<%=username%>">
    <div class="card main-card" style="width: 180px !important; margin: 20px; "> 
      <img src="../public/images/blog.png" width="60px" style="border-radius:100% ;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2><%=post.title.substring(0, 10)%></h2>
        <h5><%=post.body.substring(0, 100) + " ..."%> 
      </h5>
      <h6 style="color: rgb(255, 66, 66); font-size: large;"><%=post.tag%></h6>
        
     <span><%=post.date%> <%=post.time%></span> <span class="trashBin" style="margin-left: 10px;"><button type="submit" name="trashBtn" value="<%=post._id%>"><i class="fa-solid fa-recycle"></i></button></span>
     
      </div>
      </div>
    </a> -->
<div class="uk-animation-toggle " style=" margin:20px auto;" tabindex="0">
      <div class="uk-animation-scale-up">
    <div class="uk-card uk-card-default uk-width-1-2@m" style="width:240px;">
      <div class="uk-card-header" style="padding: 2px 15px;">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
              </div>
              <div class="uk-width-expand" >
                  <h3 class="uk-card-title uk-margin-remove-bottom"><%=post.title.substring(0, 10)%></h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%=post.date%> &nbsp;  |&nbsp;  <%=post.time%></time></p>
                  <span class="uk-label uk-label-danger"><%=post.tag%></span>
              </div>
          </div>
      </div>
      <div class="uk-card-body" style="height:150px !important; padding: 20px;">
        <p><%=post.body.substring(0, 150) + " ..."%> </p>
      </div>
      <div class="uk-card-footer">
        <!-- <span class="trashBin"><button style="padding:0; padding: 0 auto;" type="submit" name="trashBtn" value="<%=post._id%>"> 
        </button></span> -->
        <button uk-tooltip="Put Back to Home" style="padding:0 15px ;" type="submit" formaction="/trash/<%=username%>" class="uk-button uk-button-default" value="<%=post._id%>"  name="putBack" >Put Back</button>
        <button class="trashBin" style="background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;" 
        
        type="submit" formaction="/permDelete/<%=username%>" name="permDelete" value="<%=post._id%>" 
        ><span  class="uk-icon-button" uk-tooltip="Permenant Delete" uk-icon="trash"></span> </button>
          
      </div>
  </div>
</div>
</div>

    <% }) %>
  </form>
  

</div>

<%- include("partials/footer"); -%>
