
<%- include("partials/header", {count:count, username:username}); -%>
<div class="uk-background-muted uk-padding uk-panel">

  <div style="display:flex ; justify-content: space-between;">

  
  <div >
    <h2 style="margin-bottom: 0;"><%=owner.slice(0, owner.length-4)%></h2> <img src="<%=avatarOwn%>" width="100" height="100" ><br>
    <form action="/user/subscribe/<%=owner%>/<%=username%>" method="post">
      <button type="submit" class="uk-button uk-button-danger">Subscribe</button>
    </form>
   
    
  </div>

   <div style="text-align: end;" class="stats">
    <span class="uk-label uk-label-danger">Subscribers : <%=noOfSub%></span><br><br>
    <span class="uk-label uk-label-warning">Blogs Count : <%=blogsCount%></span><br><br>
    <span class="uk-label">Total Likes : <%=totalLikes%></span><br><br>
      <span class="uk-label uk-label-success">Avg Likes : <%=(totalLikes/blogsCount).toFixed(2)%></span>
     <!-- <h1>he</h1> -->
   </div>
  </div>
 
  <h3>Public Posts</h3>

  <%if (posts.length === 0){%>
    <div style="text-align: center;">
      <h3>Your Blog folder is Empty !!!</h3>
      <a href="/compose/<%=username%>">Compose a new Blog</a>
    </div>
   
    <%} %>
    

<form action="/home/<%=username%>" method="post" style="display: flex; flex-wrap: wrap;  margin-top: 20px;">

  <%  posts.forEach(function(post, index){ %>

<div class="uk-animation-toggle " style=" margin:20px auto;" tabindex="0">
      <div class="uk-animation-scale-grow">
    <div class="uk-card uk-card-default uk-width-1-2@m" style="width:240px;">
      <div class="uk-card-header" style="padding: 2px 15px;">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
              </div>
              <div class="uk-width-expand" >
                  <h3 class="uk-card-title uk-margin-remove-bottom"><%=post.title.substring(0, 10)%></h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%=post.date%> &nbsp;  |&nbsp;  <%=post.time%></time></p>
                  <span class="uk-label uk-label-danger"><%=post.tag%></span>
              </div>
          </div>
      </div>
      <div class="uk-card-body" style="height:150px !important; padding: 20px;">
        <p><%=post.body.substring(0, 150) + " ..."%> </p>
      </div>
      <div class="uk-card-footer">
        <!-- <span class="trashBin"><button style="padding:0; padding: 0 auto;" type="submit" name="trashBtn" value="<%=post._id%>"> 
        </button></span> -->
        <a href="/public-posts/<%=post._id%>/<%=username%>" class="uk-button uk-button-text">Read more</a>
      </div>
  </div>
</div>
</div>

    <% }) %>
  </form>
  

</div>

<%- include("partials/footer"); -%>
